In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re

Q1.Scrape the details of most viewed videos on YouTube from Wikipedia: Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# Opening the wikipedia
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

time.sleep(2)
#scraping names of the video
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    name.append('No details available')
    
time.sleep(2)    
#scraping rank of the video
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:#handling no such element exception
    rank.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    rank.append('No details available')

time.sleep(2)
#scraping artist/uploader of the video
artist=[]
try:
    artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        artist.append(i.text)
except NoSuchElementException:#handling no such element exception
    artist.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    artist.append('No details available')
    
time.sleep(2)    
#scraping views of the video
views=[]
try:
    views_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views_list:
        views.append(i.text)
except NoSuchElementException:#handling no such element exception
    views.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    views.append('No details available')
    
time.sleep(2)    
#scraping views of the video
upload_date=[]
try:
    upload_date_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date_list:
        upload_date.append(i.text)
except NoSuchElementException:#handling no such element exception
    upload_date.append('No details available')
except StaleElementReferenceException:#handling Stale element exception
    upload_date.append('No details available')
    
time.sleep(2)    
#preparing dataframe
df=pd.DataFrame({"Rank":rank,
                 "Name":name,
                "Uploader/artist":artist,
                "Date of upload":upload_date,
                "Views(in billion)":views})
df

<ipython-input-2-cf916a80d76d>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")
<ipython-input-2-cf916a80d76d>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
<ipython-input-2-cf916a80d76d>:25: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
<ipython-input-2-cf916a80d76d>:37: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
<ipython-input-2-cf916a80d76d>:49: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  views_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
<ipython-input-2-cf916a80d76d>:61: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  upload_date_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")

,Rank,Name,Uploader/artist,Date of upload,Views(in billion)
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.33
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.78
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.23
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.65
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.44
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.10
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[21]",Miroshka TV,"February 27, 2018",4.56
7,8.,"""Phonics Song with Two Words""[22]",ChuChu TV,"March 6, 2014",4.51
8,9.,"""Uptown Funk""[23]",Mark Ronson,"November 19, 2014",4.49
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.49
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.36
11,12.,"""Dame Tu Cosita""[30]",El Chombo,"April 5, 2018",3.89
12,13.,"""Wheels on the Bus""[31]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.79
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.66
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.54
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.53
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.52
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.42
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.27
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.25
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.25
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.24
22,23.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.19
23,24.,"""Bailando""[42]",Enrique Iglesias,"April 11, 2014",3.18
24,25.,"""Lean On""[43]",Major Lazer,"March 22, 2015",3.18
25,26.,"""Baa Baa Black Sheep""[44]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.17
26,27.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.15
27,28.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.11
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.08
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.05

Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details: A) Match title (I.e. 1 st ODI) B) Series C) Place D) Date E) Time Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [3]:
driver = webdriver.Chrome('chromedriver.exe')

<ipython-input-3-f54c79595346>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('chromedriver.exe')

In [4]:
url1 = 'https://www.bcci.tv/'
driver.get(url1)
time.sleep(2)

In [5]:
fixtures=driver.find_element_by_xpath("//li[@class='nav-item ml-0']") 
try:
    fixtures.click()
except ElementNotInteractableException:
    driver.get(fixtures.get_attribute('href'))

<ipython-input-5-975f1c4b548b>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  fixtures=driver.find_element_by_xpath("//li[@class='nav-item ml-0']")

In [6]:
match=[] 
series=[]
place=[]
date=[]
Time=[]

time_title=driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']")
for i in time_title:
    if i.text is None :
        Time.append("--") 
    else:
        Time.append(i.text)

<ipython-input-6-a2784623e34e>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  time_title=driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']")

In [7]:
urls=[]
match_page=driver.find_elements_by_xpath("//a[@class='match-center-btn ng-scope']")  
for i in match_page:
    urls.append(i.get_attribute('href'))

<ipython-input-7-5ff70b9e5b5f>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  match_page=driver.find_elements_by_xpath("//a[@class='match-center-btn ng-scope']")

In [8]:
urls=[]
match_page=driver.find_elements_by_xpath("//a[@class='match-center-btn ng-scope']")  
for i in match_page:
    urls.append(i.get_attribute('href'))
      
time.sleep(1)   

for i in urls:   
    driver.get(i)
    
    time.sleep(2)
    try:                    
        match_title=driver.find_element_by_xpath("//div[@class='widget matchDetails hideMobOnly showForSpecialCase']/div/ul/li[2]/span[2]")
        match.append(match_title.text)
    except NoSuchElementException:
        match.append('No details available')
    
    time.sleep(2)  
    try:
        series_title=driver.find_element_by_xpath("//div[@class='widget matchDetails hideMobOnly showForSpecialCase']/div/ul/li[1]/span[2]")
        series.append(series_title.text)
    except NoSuchElementException:
        series.append("No details Available")
    
    time.sleep(2)
    try:
        date_title=driver.find_element_by_xpath("//div[@class='matchDate alignC ng-binding ng-scope']")
        date.append(date_title.text)
    except NoSuchElementException:
        date.append("No details Available")      
    
    time.sleep(2)
    
    try:
        place_title=driver.find_element_by_xpath("//div[@class='widget matchDetails hideMobOnly showForSpecialCase']/div/ul/li[3]/span[2]")
        place.append(place_title.text)
    except NoSuchElementException:
        place.append("No details Available")

<ipython-input-8-cfa2c7649638>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  match_page=driver.find_elements_by_xpath("//a[@class='match-center-btn ng-scope']")

In [9]:
        
df=pd.DataFrame({"Match":match,
                "Series":series,
                "Place":place,
                "Date":date,
                "Time":Time})
df

Empty DataFrame
Columns: [Match, Series, Place, Date, Time]
Index: []

Q3 - Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details: A) Name B) Description Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [62]:
url2 = 'https://www.guru99.com/'
driver.get(url2)
time.sleep(5)
selenium = driver.find_element_by_xpath('//ul[@class="menu1"]/li[3]') 
selenium.click()

#After running this cell, please wait till the webpage get's loaded completly it

<ipython-input-62-b0111774bc0f>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  selenium = driver.find_element_by_xpath('//ul[@class="menu1"]/li[3]')

In [63]:
exception = driver.find_element_by_xpath('//table[@class="table"][5]/tbody/tr[34 ]/td[1]') 
exception.click()

<ipython-input-63-7a47d357945b>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  exception = driver.find_element_by_xpath('//table[@class="table"][5]/tbody/tr[34 ]/td[1]')

In [64]:
name = []           
description = []

nam = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')       
des = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')

for i in nam:
    name.append(i.text)                 
for j in des:
    description.append(j.text)
print(len(name))              
print(len(description))

0
0

<ipython-input-64-764aefb40185>:4: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nam = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
<ipython-input-64-764aefb40185>:5: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  des = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')

In [65]:
df2 = pd.DataFrame({'Name':name,'Description':description})
df2

Empty DataFrame
Columns: [Name, Description]
Index: []

*Q4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP D) GSDP E) Share F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code.

In [5]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# Opening the statisticstimes.com
url = "http://statisticstimes.com/"
driver.get(url)
time.sleep(2)

#clicking on economy button
economy=driver.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))
time.sleep(2)


#clicking on gdp of indian states
indian_states=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]/a")

try:
    indian_states.click()
except ElementNotInteractableException:
    driver.get(indian_states.get_attribute('href')) 
time.sleep(2)


#scraping rank
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    rank.append('No details available')
time.sleep(2)


#scraping States
State=[]
try:
    states=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in states:
        State.append(i.text)
except NoSuchElementException:                 #handling no such element exception
    State.append('No details available')
time.sleep(2)


#scraping GSDP
GSDP_20=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in info:
        GSDP_20.append(i.text)
except NoSuchElementException:           #handling no such element exception
    GSDP_20.append('No details available')
time.sleep(2)    
    
#scraping GSDP
GSDP_19=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in info:
        GSDP_19.append(i.text)
except NoSuchElementException:        #handling no such element exception
    GSDP_19.append('No details available')
time.sleep(2)

#scraping share (18-19)
share=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in info:
        share.append(i.text)
except NoSuchElementException:          #handling no such element exception
    share.append('No details available')
time.sleep(2)

#scraping GDP(billion$)
GDP_billion=[]
try:
    info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in info:
        GDP_billion.append(i.text)
except NoSuchElementException:            #handling no such element exception
    GDP_billion.append('No details available')
time.sleep(2)

#creatng dataframe
df=pd.DataFrame({'Rank':rank,
                'State':State,
                'GSDP(19-20)':GSDP_20,
                'GSDP(18-19)':GSDP_19,
                'Share(18-19)':share,
                'GDP(Billion_$)':GDP_billion})
df

<ipython-input-5-424b57198d19>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")
<ipython-input-5-424b57198d19>:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  economy=driver.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]")
<ipython-input-5-424b57198d19>:20: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  indian_states=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]/a")
<ipython-input-5-424b57198d19>:32: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  ranks=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
<ipython-input-5-424b57198d19>:43: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  states=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
<ipython-input-5-424b57198d19>:54: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
<ipython-input-5-424b57198d19>:64: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
<ipython-input-5-424b57198d19>:74: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
<ipython-input-5-424b57198d19>:84: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP(Billion_$)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Q5. Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used Note: - From the home page you have to click on the trending option from Explore menu through code.

In [21]:
url4 = 'https://github.com/'
driver.get(url4)
time.sleep(3)

In [22]:
explore = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
explore.click()
time.sleep(2)
trending = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
trending.click()

<ipython-input-22-89042fa51ec0>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  explore = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
<ipython-input-22-89042fa51ec0>:4: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  trending = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')

In [23]:
title = []                
description = []
contributer = []

soup=BeautifulSoup(driver.page_source,'html.parser')         
t = soup.find_all('h1',attrs={'h3 lh-condensed'})
d = soup.find_all('article',attrs={'Box-row'})
c = soup.find_all('div',attrs={'f6 color-fg-muted mt-2'})

for i in t:                                                 
    try:                                                    
        title.append(i.find('span').text.strip('\n'))       
    except AttributeError:
        title.append("No details available")
for j in d:
    try:
        description.append(j.find('p').text.split('\n')[-2])
    except AttributeError:
        description.append("No details available")
for k in c:
    try:
        contributer.append(k.find('a').text)
    except AttributeError:
        contributer.append("No details available")

print(len(title))                                      
print(len(description))
print(len(contributer))

25
25
25

In [24]:
urls = []                 

links = driver.find_elements_by_xpath('//article[@class="Box-row"]//h1//a')         

for url in links:
    urls.append(url.get_attribute('href'))

<ipython-input-24-205899d6e6f1>:3: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  links = driver.find_elements_by_xpath('//article[@class="Box-row"]//h1//a')

In [25]:
repository_title = []
repository_description = []
contributors_count = []
language_used = []

for i in urls:
    driver.get(i)                       
    time.sleep(3)
    try:
        title = driver.find_element_by_xpath('//h1[@class=" d-flex flex-wrap flex-items-center wb-break-word f3 text-normal"]/span[1]')
        repository_title.append(title.text.replace('\n',''))             
    except NoSuchElementException:
        repository_title.append('-')                         
        
    time.sleep(1)
    try:
        descrip = driver.find_element_by_xpath('//div[@class="BorderGrid-cell"]//p')
        repository_description.append(descrip.text.replace('\n',''))
    except NoSuchElementException:
        repository_description.append('-')

    time.sleep(1)
    try:
        count = driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        contributors_count.append(count.text)
        
    except NoSuchElementException:
        contributors_count.append('-')
    time.sleep(1)
    try:
        lang = driver.find_element_by_xpath('//li[@class="d-inline"]//a//span')
        language_used.append(lang.text.replace('\n',''))
    except NoSuchElementException:
        language_used.append('-')

<ipython-input-25-c7786a5609d5>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  title = driver.find_element_by_xpath('//h1[@class=" d-flex flex-wrap flex-items-center wb-break-word f3 text-normal"]/span[1]')
<ipython-input-25-c7786a5609d5>:17: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  descrip = driver.find_element_by_xpath('//div[@class="BorderGrid-cell"]//p')
<ipython-input-25-c7786a5609d5>:24: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  count = driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
<ipython-input-25-c7786a5609d5>:31: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  lang = driver.find_element_by_xpath('//li[@class="d-inline"]//a//span')

In [26]:
github = pd.DataFrame({})
github['repository_title'] = repository_title
github['repository_description'] = repository_description
github['contributors_count']  = contributors_count
github['language_used'] = language_used
github

,repository_title,repository_description,contributors_count,language_used
0,microsoft,Tool to scan for RouterOS (Mikrotik) forensic ...,3,Python
1,RIAEvangelist,Inter Process Communication Module for node su...,35,JavaScript
2,CodeEditApp,CodeEdit App for macOS – Elevate your code edi...,12,Swift
3,RanKKI,中华人民共和国法律手册,2,Swift
4,public-apis,A collective list of free APIs,"1,269",Python
5,lapce,Lightning-fast and Powerful Code Editor writte...,7,Rust
6,remix-run,The Remix Stack for deploying to Fly with Post...,4,TypeScript
7,RIAEvangelist,-,6,JavaScript
8,PowerShell,PowerShell for every system!,396,C#
9,google,-,-,-
10,PKUFlyingPig,计算机自学指南,22,-
11,freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"4,413",JavaScript
12,remix-run,The Remix Stack for deploying to Fly with SQLi...,5,TypeScript
13,psf,The uncompromising Python code formatter,312,Python
14,drago-96,"Proof of concept for CVE-2022-0778, which trig...",-,C
15,openmlsys,《Machine Learning Systems: Design and Implemen...,19,TeX
16,ploomber,The fastest ⚡️ way to build data pipelines. De...,33,Python
17,discourse,"A platform for community discussion. Free, ope...",806,Ruby
18,gothinkster,"""The mother of all demo apps"" — Exemplary full...",73,Shell
19,jackfrued,Python - 100天从新手到大师,12,Python
20,iperov,Real-time face swap for PC streaming or video ...,4,Python
21,yewstack,Rust / Wasm framework for building client web ...,297,Rust
22,Teaching-Assistants-of-Cloud-Computing,-,4,HTML
23,ToolJet,Extensible low-code framework for building bus...,132,JavaScript
24,chen310,网易云音乐自动任务：刷等级、云贝、云豆等,7,Python

Q6. Scrape the details of top 100 songs on billboard.com. Url = https://www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [34]:
url5 = 'https:/www.billboard.com/'
driver.get(url5)
time.sleep(5)

In [35]:
hot = driver.find_element_by_xpath('//div[@class="lrv-u-flex lrv-u-background-color-white u-height-45"]//li[1]')
hot.click()

<ipython-input-35-adfd9faea3ea>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  hot = driver.find_element_by_xpath('//div[@class="lrv-u-flex lrv-u-background-color-white u-height-45"]//li[1]')

In [36]:
songs = []       
artists = []
last = []
peak = []
board = []

song = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]//h3')   
art = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[1]//span[1]')
las = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[4]')
pea = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[5]')
boa = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[6]')

for i in song:
    songs.append(i.text)
for j in art:
    artists.append(j.text)
for k in las:
    last.append(k.text)
for l in pea:
    peak.append(l.text)
for m in boa:
    board.append(m.text)

print(len(songs))       
print(len(artists))
print(len(last))
print(len(peak))
print(len(board))

<ipython-input-36-f25fcc99928c>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  song = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]//h3')
<ipython-input-36-f25fcc99928c>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  art = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[1]//span[1]')
<ipython-input-36-f25fcc99928c>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  las = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[4]')
<ipython-input-36-f25fcc99928c>:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pea = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[5]')
<ipython-input-36-f25fcc99928c>:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  boa = driver.find_elements_by_xpath('//li[@class="lrv-u-width-100p"]/ul/li[6]')

100
100
100
100
100

In [37]:
df6 = pd.DataFrame({'Songs':songs,
                   'Artist':artists,
                   'Last Week Rank':last,
                   'Peak rank':peak,
                   'Weeks on board':board})
df6

,Songs,Artist,Last Week Rank,Peak rank,Weeks on board
0,Heat Waves,Glass Animals,1,1,60
1,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",2,1,11
2,Super Gremlin,Kodak Black,4,3,18
3,abcdefu,GAYLE,3,3,16
4,Stay,The Kid LAROI & Justin Bieber,5,1,35
...,...,...,...,...,...
95,Evil Twins,King Von & Lil Durk,-,96,1
96,Trust Nothing,King Von Featuring Moneybagg Yo,-,97,1
97,Iffy,Chris Brown,92,71,8
98,Closer,Saweetie Featuring H.E.R.,98,89,4
99,When I'm Gone,Alesso / Katy Perry,91,90,4

Q7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [38]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

<ipython-input-38-a0e267e0d536>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")

In [39]:
url6 = 'https://www.naukri.com'
driver.get(url6)

In [40]:
search = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search.send_keys('Data Scientist')

<ipython-input-40-1b923390f017>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')

In [41]:
click = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
click.click()

<ipython-input-41-8206ef8fdc3e>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  click = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')

In [42]:
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@title='Search Recruiters']")]
for url in urls:
    driver.get(url)
    time.sleep(2)
urls

<ipython-input-42-7f97855e80e7>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@title='Search Recruiters']")]

['https://www.naukri.com/recruiters']

In [43]:
search = driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input') 
search.clear()
search.send_keys('Data Scientist')      
time.sleep(2)
searchh = driver.find_element_by_xpath('//*[@id="qsbFormBtn"]')  
searchh.click()

<ipython-input-43-bb7659657f49>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  search = driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input')
<ipython-input-43-bb7659657f49>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  searchh = driver.find_element_by_xpath('//*[@id="qsbFormBtn"]')

In [44]:
name = []           
designation = [] 
company = []
skills = []

nam = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/a/span')     
desi = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/span[1]')
comp = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/a[2]')
skill = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[2]')

for i in nam:                  
    name.append(i.text)                                 
for j in desi:
    designation.append(j.text)
for k in comp:
    company.append(k.text)
for n in skill:
    skills.append(n.text)

print(len(name))                               
print(len(designation))
print(len(company))
print(len(skills))

<ipython-input-44-d48ad91767a4>:6: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nam = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/a/span')
<ipython-input-44-d48ad91767a4>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  desi = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/span[1]')
<ipython-input-44-d48ad91767a4>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  comp = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[1]/p/a[2]')
<ipython-input-44-d48ad91767a4>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  skill = driver.find_elements_by_xpath('//div[@class="recInfo"]/div[2]')

50
50
50
50

In [45]:
location=[]            
soup=BeautifulSoup(driver.page_source,'html.parser')      
l=soup.find_all('div',attrs={'vcard'})                    
for i in l:
    try:                                         
        location.append(i.find('small').text)             
    except AttributeError :
        location.append("No details available")
print(len(location))

50

In [46]:
df7 = pd.DataFrame({'Name':name,
                   'Designation':designation,
                   'Company':company,
                   'Skills Needed':skills,
                   'Location':location})
df7

,Name,Designation,Company,Skills Needed,Location
0,Tanushree,Lead Recruiter,RecRoots,"UI Developers, Software Engineers, Quality Ass...",Noida
1,sashi bhushan,Senior Specialist,Wipro,"pig, hbase, sas, spss, apache, python, nosql, ...",Bengaluru / Bangalore
2,Bitapi,HR and Operation Manager,Anvaya,"Hadoop, Big Data, Data Scientists, Java, Sprin...",Bengaluru / Bangalore
3,Gajendra Singh,Head of Recruitment - Product &amp;...,A Leading of Product Start-UP Company,"Data Scientist, Big Data, Hadoop, Web Analytic...",Noida
4,Sadashiv Kulkarni,Company HR,Digitially Insights Pvt Ltd,"Big Data Engineer, Data Scientist, Solutions, ...",Pune
5,Invelopment,Company HR,Invelopment,Scandinavian Startups,Ahmedabad
6,Anjali Srivastava,Director HR,CodeFire Technologies Pvt. Ltd.,"Technical, Business Development Executive, Sof...",Noida
7,Helly Vyas,HR Business Partner,AM - TA &amp; HR,"Big Data technology, PLSQL, Web Developer, Jav...",Pune
8,Ashish Verma,Senior Associate Human Resources,Evalueserve.com Private Limited,"SAS, VBA, Business Information Services(BIS), ...",Gurgaon
9,Shiva Kumar N,Founder,Rapid Talent Solutions -9148242334,"salaesforce, Web Technologies, .net, .net full...",Bengaluru / Bangalore
10,Balaji Prabhakaran,Company Recruiter,Oportun,"Technical Solution Architect, Data Scientist, ...",Chennai
11,Bhuwneshari Devi,Lead Talent Acquisition,Success Pact Consulting,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip...",Delhi
12,HS Sandesh,Talent Evangelist www staffiohr co,Staffio HR,"Digital Marketing, General Manager, Business D...",Bengaluru / Bangalore
13,Anoop Somarajan,Manager - Talent Acquisition,R1RCM,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript...",Chennai
14,Datafoundry,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,"Webmethods Developer, Mean Stack, Business Ana...",Bengaluru / Bangalore
15,A Valsa Florina,Recruitment Specialist,Redbus.in,"Business Analyst, Front end developer, legal, ...",Bengaluru / Bangalore
16,Kalaivani M V,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,"Data Scientist, Cloud Computing, Mobile Applic...",Chennai
17,Prashant K,Sr HR,Confidential,"Data Analyst, Statistical Analysis, Data Scien...",Bengaluru / Bangalore
18,Radhika,HR Associate,Bright Bridge Info-tech Pvt Ltd,"business analyst - IT (python), pay per click,...",Coimbatore
19,Rakhi,HR recruiter,Constalytics,"Data Scientist, Data Research Analyst, Big Dat...",Singapore - (singapore)
20,Monika Jain,Talent Aquistion Lead,Info Edge India Limited,"Lamp Developer, Ui/ux Developer, Qa Engineer, ...",Noida
21,Trilok Nath,Senior IT Recruiter,Molveno Consulting Private Limited,".Net Developers With Angular Js, Html, Front E...",Hyderabad / Secunderabad
22,Rashmi Kathuria,Talent Acquisition Specialist (Specialized...,Mount Talent consulting,"Leading MNCs, Product based organizations",Noida
23,Vidya Rani Hadimani,Business Manager Delivery,Talent Management Labs Inc.,Amazon Walmart Adobe OLA Myntracom Komli Media...,Bengaluru / Bangalore
24,Monika Singh Thakur,Technical Recruiter,ValueLabs,"Big Data Analytics, Marketing Analytics, Full ...",Indore
25,Ankit Soni,Talent Acquisition,Seven N Half,"Relationship Management, Branch Management, Br...",Ahmedabad
26,Shikha Bakshi,Senior Manager Recruitment,Fractal Analytics!!,"Analytics, Big Data, Hadoop, Python",Gurgaon
27,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
28,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
29,Ravi,Team HR,Einfluss Teknocommercial Pvt. Ltd.,"Deep Learning, Machine Learning, unstructured ...",Ghaziabad
30,Ishu Kumar,Co Founder &amp; Ceo,Data X,"Python, Machine Learning, Sql, Data Science",Bengaluru / Bangalore
31,Vivek Shrivastava,Assistant Manager Human Resources,InnovAccer Management Pvt Ltd,"Business Analyst, analytics, Decesion Scientis...",Noida
32,Gayathri E,Sr Recruitment,Wonderwrks IT Services Private Limited,"IT Infrastructure Management, PHP, Wordpress, ...",Chennai
33,Best In Town Analytics,Analytics Associate,BITA,Data Analytics,Bengaluru / Bangalore
34,Nagendla Syam Kumar,Data Scientist,FLOWERHORN IT PVT LTD,"Machine Learning, NLP, Performance Review, HR,...",Bengaluru / Bangalore
35,Santhosh Nagaiah,Chief marketing officer,Tuple Technologies Pte Ltd,"Data Science, Project Management, Backend",No details available
36,priyanka,General Manager,Reliance Industries,"Sap, Saas, Sql, Hadoop, Production Planning, B...",Mumbai
37,Renny Benita K,Operations Manager,DeepIQ Software Solutions Pvt Ltd,"Core Java, J2ee, Big Data, Machine Learning, D...",Bengaluru / Bangalore
38,Sudipta Samanta,Founder,DataNnoviteSol LLP,Not Specified,Pune
39,Roshan Menugu,Company Recruiter,Cyient Limited,Not Specified,Hyderabad / Secunderabad
40,HR Team,Company HR,Terra Blue Exploration Technologies Pvt....,Not Specified,Bengaluru / Bangalore
41,Jamil Akhtar,Company Recruiter,Quikkloan,Not Specified,Delhi
42,rajesh,HR Executive,quantum value IT services,"Data Scientist, Tableau, R Tool, Data Analytic...",Bengaluru / Bangalore
43,navya neluri,Data Scientist,asens labs,Not Specified,Hyderabad / Secunderabad
44,Ram Kumar,Data Scientist,Working As A Freelancer,Not Specified,Pune
45,Shreya Naithani,Talent Acquisition Executive,Purplejack Labs Pvt. Ltd.,"Node.js, React.js, Etl Testing, Data Warehousi...",Mumbai
46,Vanitha Senkurichi,Company HR,Quaero 3 India Ltd,"sql, Ui Development, ssis, Data Modeling, Data...",Bengaluru / Bangalore
47,Sravan Kumar Ranga,Assistant Manager,GSPANN Technologies,"devops, build and release, Delivery Manager, O...",Hyderabad / Secunderabad
48,Zack,Recruitment Manager,Perex Engineering Pvt Ltd,"Software Development, Javascript, Core Java, J...",Hyderabad / Secunderabad
49,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad

Q8. Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/ You have to find the following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [14]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# Opening the theguardian.com
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)
time.sleep(2)

#scrapping book names
book_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in names:
        book_name.append(i.text)
except NoSuchElementException:              #handling no such element exception
    book_name.append('No details available')
time.sleep(2)

#scrapping author names
author_name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in names:
        author_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    author_name.append('No details available')
time.sleep(2)


#scrapping Sale
Sale=[]
try:
    sale=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in sale:
        Sale.append(i.text)
except NoSuchElementException:#handling no such element exception
    Sale.append('No details available')
time.sleep(2)    

#scrapping publisher
publisher=[]
try:
    publishers=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in publishers:
        publisher.append(i.text)
except NoSuchElementException:#handling no such element exception
    publisher.append('No details available')
time.sleep(2)

#scrapping genre
genre=[]
try:
    genres=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:#handling no such element exception
    genre.append('No details available')
time.sleep(2)

#creating dataframe
df=pd.DataFrame({"Book_name":book_name,
                "Author_name":author_name,
                'Volume sold':Sale,
                'Publisher':publisher,
                'Genre':genre})
df

<ipython-input-14-dd9f7bdb06f3>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")
<ipython-input-14-dd9f7bdb06f3>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
<ipython-input-14-dd9f7bdb06f3>:23: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
<ipython-input-14-dd9f7bdb06f3>:34: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  sale=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
<ipython-input-14-dd9f7bdb06f3>:44: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  publishers=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
<ipython-input-14-dd9f7bdb06f3>:54: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  genres=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")

,Book_name,Author_name,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [15]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

# Opening the imdb.com
url = "https://www.imdb.com/list/ls095964455"
driver.get(url)
time.sleep(2)

# scraping name of webseries
name=[]
try:
    names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in names:
        name.append(i.text)
except NosuchElementException:#handling no such element exception
    name.append('No details available')
time.sleep(2)


# scraping year of release
years=[]
try:
    span=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in span:
        years.append(i.text)
except NosuchElementException:#handling no such element exception
    years.append('No details available')
time.sleep(2)


# scraping genre
genre=[]
try:
    genres=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:#handling no such element exception
    genre.append('No details available')
time.sleep(2)


# scraping run_time
run_time=[]
try:
    info=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in info:
        run_time.append(i.text)
except NoSuchElementException:#handling no such element exception
    run_time.append('No details available')
time.sleep(2)


# scraping rating
rating=[]
try:
    info=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in info:
        rating.append(i.text)
except NoSuchElementException:#handling no such element exception
    rating.append('No details available')
time.sleep(2)

# scraping votes
votes=[]
try:
    info=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in info:
        votes.append(i.text)
except NoSuchElementException:#handling no such element exception
    votes.append('No details available')
time.sleep(2)


#creating dataframe
df=pd.DataFrame({"Name":name,
                "years":years,
                "Genre":genre,
                "Run_time":run_time,
                "Rating":rating,
                "Votes":votes})
df

<ipython-input-15-f47f3efb0058>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")
<ipython-input-15-f47f3efb0058>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
<ipython-input-15-f47f3efb0058>:24: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  span=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
<ipython-input-15-f47f3efb0058>:35: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  genres=driver.find_elements_by_xpath("//span[@class='genre']")
<ipython-input-15-f47f3efb0058>:46: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//span[@class='runtime']")
<ipython-input-15-f47f3efb0058>:57: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
<ipython-input-15-f47f3efb0058>:67: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  info=driver.find_elements_by_xpath("//span[@name='nv']")

,Name,years,Genre,Run_time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,962,385"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"970,820"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.3,"934,863"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"279,717"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.7,"239,868"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.6,"47,967"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"58,679"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.2,"186,514"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,520"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"222,926"

Q10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year Note: - from the home page you have to go to the ShowAllDataset page through code

In [48]:
# Activating the chrome browser
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(2)

<ipython-input-48-a0e267e0d536>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome("chromedriver.exe")

In [49]:
url10 = 'https://archive.ics.uci.edu/'      
driver.get(url10)

In [50]:
view = driver.find_element_by_xpath('//span[@class="whitetext"][2]/a[1]')
view.click()

<ipython-input-50-ed86bdcd9204>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  view = driver.find_element_by_xpath('//span[@class="whitetext"][2]/a[1]')

In [51]:
name = []  
typee = []
task = []
attribute = []
instances = []
attributes = []
year = []

nam = driver.find_elements_by_xpath('//table[@cellpadding = "3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')     
typ = driver.find_elements_by_xpath('//table[@cellpadding = "3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
tas = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
attri = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
inst = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
attri = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
yea = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')

for i in nam[1:]:                               
    name.append(i.text)                        
for j in typ[1:]:
    typee.append(j.text)
for k in tas[1:]:
    task.append(k.text)
for l in attri[1:]:
    attribute.append(l.text)
for m in inst[1:]:
    instances.append(m.text)
for n in attri[1:]:
    attributes.append(n.text)
for o in yea[1:]:
    year.append(o.text)

print(len(name))                          
print(len(typee))
print(len(task))
print(len(attribute))
print(len(instances))
print(len(attributes))
print(len(year))

<ipython-input-51-3ebf61d12d88>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nam = driver.find_elements_by_xpath('//table[@cellpadding = "3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')
<ipython-input-51-3ebf61d12d88>:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  typ = driver.find_elements_by_xpath('//table[@cellpadding = "3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
<ipython-input-51-3ebf61d12d88>:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  tas = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
<ipython-input-51-3ebf61d12d88>:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  attri = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
<ipython-input-51-3ebf61d12d88>:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  inst = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
<ipython-input-51-3ebf61d12d88>:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  attri = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
<ipython-input-51-3ebf61d12d88>:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  yea = driver.find_elements_by_xpath('//table[@cellpadding="3"]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')

622
622
622
622
622
622
622

In [52]:
df10 = pd.DataFrame({'Name':name,
                    'Data Types':typee,
                    'Default Task':task,
                    'Attribute Types':attribute,
                    'Number of Instances':instances,
                    'Number of Attributes':attributes,
                    'Year':year})
df10

,Name,Data Types,Default Task,Attribute Types,Number of Instances,Number of Attributes,Year
0,Abalone,Multivariate,Classification,8,4177,8,1995
1,Adult,Multivariate,Classification,14,48842,14,1996
2,Annealing,Multivariate,Classification,38,798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,294,37711,294,1998
4,Arrhythmia,Multivariate,Classification,279,452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,525,75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,50,400,50,2020
619,Maternal Health Risk Data Set,,Classification,7,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,16,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,2,4000,2,2021