In [105]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\lokes\appdata\roaming\python\python38\site-packages (4.1.0)
Requirement already satisfied: trio~=0.17 in c:\users\lokes\appdata\roaming\python\python38\site-packages (from selenium) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\nams1\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lokes\appdata\roaming\python\python38\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\users\lokes\appdata\roaming\python\python38\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\nams1\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: async-generator>=1.9 in c:\users\nams1\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\nams1\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sniffio in c:\users\nams1\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\nams1\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\nams1\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: pycparser in c:\users\nams1\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\lokes\appdata\roaming\python\python38\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\nams1\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\nams1\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\nams1\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\users\nams1\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lokes\appdata\roaming\python\python38\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [106]:
import selenium
from selenium import webdriver
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")

In [104]:
url = 'https://www.naukri.com/'
driver.get(url)

In [80]:
search_job = driver.find_element_by_class_name('suggestor-input')
search_job

In [81]:
search_job.send_keys("Data Analyst")

In [82]:
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [83]:
search_locn.send_keys("Banglore")

In [84]:
search_btn = driver.find_element_by_class_name("qsbSubmit")
search_btn

In [85]:
search_btn.click()

In [86]:
# extract all the job titles
job_titles = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
titles = []
for i in job_titles[:10]:
    titles.append(i.text)

In [87]:
job_titles

[<selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="f5f50a80-4b20-46f4-9f48-52513805dd39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="47428b89-005f-469d-a1d7-84ebd07f21d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="a304564b-389b-4009-9ebd-33a07bfbd62f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="2dec6069-6d02-4b74-bc67-4963446f1b0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="8c0b7649-b6c5-4a27-825b-3f042438c2da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="298f2bdc-0a74-44a0-bd15-077acfe6c3f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="5b4e5b51-aee1-48c8-9a03-177389562518")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="ad0b2d4d-8543-4192-a522-c474b023973f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="00169d86-d0c9-4430-8fc7-0ea38530fc73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="8bfe591f-3f5d-4d82-a47a-e7f68e3b25f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="b18769ac-4113-49f9-8060-375623b78ee9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="0bb87eb1-c7b8-465c-8b84-2cc21dae988d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="ff2f4ce9-b09c-4cc4-bb29-e4095b5562f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="4ac7b17f-1f36-46ce-a60a-265c0417cf3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="c7500a05-8522-4413-b988-ebb818797b30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="d38a94c8-fd80-4bb9-b677-96e713f704e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="6b19c5e8-ffd6-49c2-b07b-84145cc0b3fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="096ab51a-82ac-4367-9dec-1f2447dc6573")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="1024f866-b9f6-4cd9-b4bb-05198ccee15a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="55faaebb-452d-410c-9758-10c091914f14")>]

In [90]:
# extract all the company names
job_companies = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
companies = []
for i in job_companies[:10]:
    companies.append(i.text)

In [91]:
job_companies

[<selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="ede76e83-af52-42e0-85ab-2326b4fc93df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="02269122-8b7e-4fb0-939f-01613e751821")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="47e0ff9d-0521-4860-ac29-3043843862bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="2b81a6e2-e5c8-4f17-be04-be633a23d7ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="f8ad93e9-400b-4989-88e3-4c9b1d7c54b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="d582ba8e-5afe-4812-a48e-aa0289f928ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="298db1d9-45f2-4ea7-9bd0-751dfa02ae43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="037561aa-0635-4283-a418-2356a531055a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="cabda56a-692e-44b2-9ff7-1e0c560b2cc7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="74788b98-e9f3-45e8-9e30-d73cf7efcd59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="e5098928-9fef-4458-a47d-0fe476806777")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="9c193dad-8ee4-46e7-9475-475953e9ab24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="ef0713e1-e6f5-44e9-874e-a3bab10717ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="8d628cde-3afa-4408-b3fa-ce36b0c0b4b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="d6cb6867-ef2b-4bf3-9f88-2e4c963f55ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="721ba6a5-444b-438e-bb82-68ce82b7aa8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="4bf3139e-25f9-402e-a974-b51da3d95aa8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="a57c478f-f155-44e0-88b7-fecfeb144f1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="d0ee6caf-525d-4777-8689-9173c505baec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="47b64c67-a15d-4c65-9ad5-8da9d2495317")>]

In [92]:
# extract the years of experience needed
job_exp = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp = []
for i in job_exp[:10]:
    exp.append(i.text)

In [93]:
job_exp

[<selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="92336c41-f0a4-42c7-91e9-051554d99440")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="1a750dc5-0bf9-4aea-bff4-5928496fbc0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="49749340-595b-4098-8373-ee11b5cbf464")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="5cfc1cd2-87ea-4e6c-afea-9e239d979764")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="6ffd0612-7fbc-4ddb-98b5-09803461f527")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="b3a5b123-3957-4501-95ec-2081a64f084e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="d3abac20-bbe3-4f6f-bbab-5de269709126")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="83d5fa61-5684-44c5-91f0-5297bc7e7601")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="7a64329f-7b6f-47b3-9ba6-24c4b3f780fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="c7a39679-0a99-4b29-a804-fdb5ec582dee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="e5392653-2d34-46d3-877c-6359f17d37da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="1ad94716-b845-4f42-96ae-982013d88ba2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="a9ba2a73-d200-4b8a-83f2-5945fe85adfc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="34a6da21-39dc-46de-ad76-5621086df6bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="d08b2562-d5fa-4ab7-9cc0-add72653982f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="f44ca50f-774d-45ad-9292-efd5dd2e07e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="9d36abed-767c-42fb-b63c-de990b9975f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="55f415c3-5877-4a38-9f1e-51bc21924f70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="a196a141-d08a-4071-98c5-e367847b81f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="81028101-c896-4a5b-8399-b87ae08f2d66")>]

In [94]:
# extract all the job locations including Bangalore and the others with it
job_locations = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span')
location = []
for i in job_locations[:10]:
    location.append(i.text)

In [95]:
job_locations

[<selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="dc44f739-b633-4101-ae19-8c879fc1b774")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="1a4460f7-cc51-4c4a-80f0-5691239fb8f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="f739ccc6-66ce-451f-8772-09476259a36c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="0d6696b0-13c2-4f9f-ac64-6553546942ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="d0552dd6-63e3-458c-9bbd-eb3a1b0e957c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="ed0172fe-81af-45a7-bb43-f8ace7aca40f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="8fa937b3-1f16-4af1-8b7d-061c7c3d54d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="f79caf3b-1286-4619-93d5-e42e8f9da5fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="59ea168a-deae-4137-9dc1-2e1057d085ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="9aee829e-1782-47ad-a9a9-2395436c7453")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="38dd4589-ae7e-4684-9897-4865044791c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="3d49cb23-e5a1-4046-9dbc-1181ac5280cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="2cfae28a-05cc-4819-a87b-1237261dc66e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="4cf8e0ff-8e82-4743-8fba-900f60d4ff69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="1fb69864-e8a5-48ed-a249-b1644fe8f757")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="73c010aa-2c50-4374-b826-c87fdcc8db71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="ed5f7ad1-7ca3-417b-8f48-b32946e1d19e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="2d7af522-dfe5-4142-ac68-281fac1cf4fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="4c90b39d-35ff-46f9-b7c9-3eb6e53b6afe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="482434287316583b5e416b03c898cb0f", element="ed6d2d4c-5d40-40a8-b836-9670c4c3cee8")>]

In [96]:
# checking the length to get data frame
print("Lengths of columns:", len(titles), len(companies), len(exp), len(location))

# creating the dataframe now
df = pd.DataFrame({})
df['Job Title']=titles
df['Company Names']=companies
df['Years of experience required']=exp
df['Job Locations']=location
df

Lengths of columns: 10 10 10 10

,Job Title,Company Names,Years of experience required,Job Locations
0,Senior Data Analyst II,Flipkart,2-4 Yrs,Bangalore/Bengaluru
1,Senior Data Analyst,Flipkart,2-3 Yrs,Bangalore/Bengaluru
2,"Hiring -Data Analyst, Business Analyst, MIS An...",Flipkart,1-6 Yrs,Bangalore/Bengaluru
3,Global Tax Automation & Operations - Data Scie...,Dell,3-5 Yrs,Bangalore/Bengaluru
4,Data Analyst,GSK India,3-8 Yrs,Bangalore/Bengaluru
5,Business Analyst (Data Analyst role),Xpheno,2-5 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,..."
6,Senior Data Analyst,Liventus,5-8 Yrs,Remote
7,Data Analyst,Flipkart,1-2 Yrs,Bangalore/Bengaluru
8,Data Analyst,Flipkart,1-2 Yrs,Bangalore/Bengaluru
9,Data Analyst,Shell,2-7 Yrs,Bangalore/Bengaluru

In [97]:
#question 2

In [183]:
# getting the naukri portal url on the web driver
url = "https://www.naukri.com/"
driver.get(url)

In [184]:
# code to write Data Scientist on search box
search_job = driver.find_element_by_class_name('suggestor-input')
search_job

In [185]:
search_job.send_keys("Data Scientist")

In [186]:
# code to write Bangalore in location box
search_loc = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [187]:
search_loc.send_keys("Bangalore")

In [188]:
# code to click on the search button
search_btn = driver.find_element_by_class_name('qsbSubmit')
search_btn.click()

In [189]:
# extract all the job titles
job_titles = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
titles = []
for i in job_titles[:10]:
    titles.append(i.text)

In [190]:
job_titles

[<selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="66128256-39c5-479c-8aa3-16d1ead4cdcf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="3ac54068-0595-4d65-9675-3a2c87850a25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="104bd183-d47b-4303-a4a5-dfdf6d249688")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="305c6d00-8054-4185-9e0b-3f68cc616145")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="f3206f16-a143-4973-b7d8-df8f1defb043")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="a43baf7e-0545-4719-a84f-99016cc40e59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="2d7ad92a-3aa7-42be-90e9-611966bd2043")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="c4c1d3b9-b2b9-446a-9716-d47f9925ae29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="6a515724-3c9f-492d-8925-5a392a5af3ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="39964a9c-7c87-4856-86e0-015b4a766b6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="514f1d9d-20b4-4ba8-b4ed-21bbd79275eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="6b32667a-c982-4654-8277-98f49bf22425")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="df604555-b9a0-453e-84cf-6d50cee8ddc4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="6cabb2d6-c048-43e2-a052-7d1ededf2f57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="78c01fa3-44a1-41ca-a579-297c331ca254")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="4b3af4b4-7621-4fb7-958a-ad8718a14b1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="63cf3030-5726-45a6-9e87-f2c79714ccee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="ce11fb81-144e-4279-8453-305279fdb524")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="ed652a84-9b00-448d-84e0-9df4361a57ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="cf6b8bfb-c86d-4f72-aada-f1134b4767ff")>]

In [191]:
# extract all the company names
job_companies = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
companies = []
for i in job_companies[:10]:
    companies.append(i.text)

In [192]:
job_companies

[<selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="d9c08ac0-4afe-49ee-a557-d50a3e37e1d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="14b2a6de-d23c-466b-940a-b0ff7fa22cbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="bc11372f-d53a-4018-80af-6225bf6e11db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="3a74735c-465b-418d-946f-938daa20da6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="d2e6f01b-6695-404a-931a-138e92373c5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="985f72bd-276f-4b69-8dc8-a0d47be1fb13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="324a8013-ecdb-41fa-a711-3f210393f54c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="a7941bb0-7064-4cae-a59f-d79800c61369")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="a2874b91-277b-43d5-bda7-e2c0da79f49c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="471a5c6a-360c-46a1-81f9-6e5733bd4714")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="dd4ff4d6-b4c6-4ac2-a311-2ffa05a38bdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="31836d0b-7476-4bf9-a395-68fd03da1558")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="8e8d777c-d8a5-401a-867f-b6dea015c0ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="68f28056-c5d8-4ebe-9c8a-1504cc33bd58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="1fedbfdd-b835-4062-b9ad-03f3d00b0509")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="455b69b4-5988-4a29-89cf-c4be3642e959")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="1f95273a-3082-460c-8eac-dd809817c340")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="78da52ef-6358-41eb-a148-2491ce6f049f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="9142f52f-4bf2-4e70-8bf9-6851c8eb9236")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="237206c1-35bb-43d2-b0fd-da80bff18161")>]

In [193]:
# extract all the job locations including Bangalore and the others with it
job_locations = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span')
location = []
for i in job_locations[:10]:
    location.append(i.text)

In [194]:
job_locations

[<selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="bdf9c2ba-68d3-416c-8ef1-eb0444bd92aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="ec5e4cc9-8c2e-452b-af88-d14a82e1ac00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="43293c3b-608b-4e6b-af89-a2e5347fd437")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="acbae4d7-cbe2-4a33-b54f-285286018e5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="95e1f285-2826-4b43-8a18-aaa1545c4b9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="f8873796-48cf-4a55-aca7-757606bac8c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="313c0593-b086-4b4a-990c-74224d23b63b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="ccff6c57-2a95-4135-bd3e-e35950d6447e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="0a0f7b6d-5e91-4220-9c44-6dd9ac740f62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="e3c05eac-0f86-4366-aee3-e0b93834e6e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="69eb7b94-113d-4e01-bb27-6a4e8405f551")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="74314f49-0f0d-41ef-b26b-f6e218f96bff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="f39ebc24-c01d-47fe-af25-09dd3920d5ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="ccb26866-d1d3-4fbe-bbf5-0193195d31e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="57861c40-4394-4376-be98-87ceeca83b09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="881fd552-0a5b-4d5c-81b6-08d79545e550")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="9fbb3305-cc04-4a5a-a912-66aed5badb6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="b1a21f79-62e5-462d-b633-0bbaad034228")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="493a4245-17f6-412c-94af-5e9df4ee0296")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="7afa8170-cd15-4a7e-9ce7-c1e081b60ec1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8800f4eec8bee1ed69fa99ec56641eda", element="7774f352-6aa4-48d9-aa52-1027f9741717")>]

In [195]:
# checking the length to get data frame
print("Lengths of columns:", len(titles), len(companies), len(location))

# creating the dataframe now
df = pd.DataFrame({})
df['Job Title']=titles
df['Company Names']=companies
df['Job Locations']=location
df

Lengths of columns: 10 10 10

,Job Title,Company Names,Job Locations
0,Global Tax Automation & Operations - Data Scie...,Dell,Bangalore/Bengaluru
1,Senior Data Scientist I,Delhivery,Bangalore/Bengaluru
2,Data Scientist / Analyst,Talentify,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
3,Data Scientist: Advanced Analytics,IBM,Bangalore/Bengaluru
4,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
5,Global Tax Automation & Operations / Data Scie...,Dell,Bangalore/Bengaluru
6,Data Scientist,IBM,Bangalore/Bengaluru
7,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
8,Data Scientist I,Delhivery,Bangalore/Bengaluru
9,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru

In [69]:
# getting the naukri portal url on the web driver
url = "https://www.naukri.com/"
driver.get(url)

In [70]:
# code to write Data Scientist on search box
search_job = driver.find_element_by_class_name('suggestor-input')
search_job

In [71]:
search_job.send_keys("Data Scientist")

In [72]:
# code to click on the search button
search_btn = driver.find_element_by_class_name("qsbSubmit")
search_btn.click()

In [79]:
# code to click on the location filter for "Delhi/NCR"
location_filter = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")
location_filter.click()

In [80]:
# code to click on the salary filter for "3-6 Lakhs"
salary_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_filter.click()

In [81]:
# extract all the job titles
j_title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
f_title = []
for i in j_title[:10]:
    f_title.append(i.text)

In [82]:
# extract all the company names
j_company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
f_company = []
for i in j_company[:10]:
    f_company.append(i.text)

In [83]:
# extract the years of experience needed
j_exp = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
f_exp = []
for i in j_exp[:10]:
    f_exp.append(i.text)

In [84]:
# extract all the job locations including Bangalore and the others with it
j_location = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span')
f_location = []
for i in j_location[:10]:
    f_location.append(i.text)

In [85]:
# checking the length for getting the data frame
print("Lengths of columns:", len(f_title), len(f_company), len(f_exp), len(f_location))

Lengths of columns: 10 10 10 10

In [86]:
# creating the data frame now
df = pd.DataFrame({})
df['Job Title']=f_title
df['Company Names']=f_company
df['Years of experience required']=f_exp
df['Job Locations']=f_location
df

,Job Title,Company Names,Years of experience required,Job Locations
0,Opening For Data Scientist,Care Health Insurance,1-5 Yrs,Gurgaon/Gurugram
1,Data Scientist II,Chegg,2-6 Yrs,Delhi / NCR
2,Data Scientist,Stefanini,3-8 Yrs,Noida
3,Junior Data Scientist - Goods & Service Tax Ne...,NISG (National Institute for Smart Government),3-8 Yrs,Delhi / NCR
4,Associate Data Scientist - Java/ Scala/ Apache...,Smart work Consultants,1-4 Yrs,Noida
5,Data Scientist,Cloudstrats Technologies Private Limited,3-5 Yrs,"New Delhi, Delhi / NCR, Mumbai (All Areas)"
6,Data Scientist,Zekardo Automotive Solutions,5-8 Yrs,Gurgaon/Gurugram
7,Data Scientist,Team Computers Pvt Ltd,2-6 Yrs,(WFH during Covid)
8,Data Scientist / Senior DS/ Team Lead,NebulARC Technologies Private Limited,0-4 Yrs,New Delhi
9,Data Scientist (ML AI Engineer) / InfoObjects ...,INFOOBJECTS SOFTWARE ( INDIA) PRIVATE LIMITED,3-7 Yrs,"Mumbai, Gurgaon/Gurugram(Cyber City +1)"

In [224]:
#Question 4

In [186]:
# getting the flipkart shopping site url on the web driver
url = "https://www.flipkart.com/"
driver.get(url)

In [187]:
# code to write sunglasses in the search box
search_prod = driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_prod.send_keys("Sunglasses")

In [188]:
#close log_in window
log_in_pop_up = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
log_in_pop_up.click()

In [189]:
# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu" ]')
search_btn.click()

In [190]:
# code to extract product description
prod_descriptn = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
descriptn = []
for i in prod_descriptn:
    try:
        descriptn.append(i.text)
    except:
        descriptn.appendend("No description available")

In [191]:
# code to extract brand details
prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand = []
for i in prod_brand:
    brand.append(i.text)

In [192]:
# code to extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price = []
for i in prod_price:
    price.append(i.text)

In [193]:
# code to extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
discount = []
for i in prod_discount:
    discount.append(i.text)

In [194]:
# code to click on the next button for page 2
search_btn1 = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[3]')
search_btn1.click()

In [202]:
# code to extract brand details
prod_brand = driver.find_elements_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/div/div/div[1]')
for i in prod_brand:
    brand.append(i.text)

In [203]:
# code to extract product description
prod_descriptn = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in prod_descriptn:
    try:
        descriptn.append(i.text)
    except:
        descriptn.appendend("No description available")

In [204]:
# code to extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in prod_price:
    price.append(i.text)

In [205]:
# code to extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
for i in prod_discount:
    discount.append(i.text)

In [206]:
# code to click on the next button for page 3
search_btn2 = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')
search_btn2.click()

In [207]:
# code to extract brand details
prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in prod_brand:
    brand.append(i.text)

In [208]:
# code to extract product description
prod_descriptn = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in prod_descriptn:
    try:
        descriptn.append(i.text)
    except:
        descriptn.append("No description available")

In [209]:
# code to extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in prod_price:
    price.append(i.text)

In [210]:
# code to extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
for i in prod_discount:
    discount.append(i.text)

In [211]:
# checking the length to get the data frame
print("Lengths of columns:", len(brand), len(descriptn), len(price), len(discount))

# creating the data frame now
df = pd.DataFrame({})
df['Sunglasses Brand']=brand[:100]
df['Sunglasses Description']=descriptn[:100]
df['Sunglasses Price']=price[:100]
df['Sunglasses Discount']=discount[:100]
df

Lengths of columns: 130 120 160 160

,Sunglasses Brand,Sunglasses Description,Sunglasses Price,Sunglasses Discount
0,Badfella,"UV Protection, Mirrored Clubmaster Sunglasses ...",199,80% off
1,VILLAIN,UV Protection Round Sunglasses (Free Size),"1,099",37% off
2,Elligator,UV Protection Aviator Sunglasses (Free Size),248,90% off
3,Fastrack,"UV Protection, Gradient Retro Square Sunglasse...",639,20% off
4,SUNBEE,UV Protection Aviator Sunglasses (Free Size),271,84% off
...,...,...,...,...
95,PIRASO,by Lenskart UV Protection Aviator Sunglasses (53),849,57% off
96,PHENOMENAL,UV Protection Retro Square Sunglasses (58),449,70% off
97,PIRASO,UV Protection Wayfarer Sunglasses (53),167,88% off
98,kingsunglasses,"UV Protection, Mirrored Retro Square Sunglasse...",299,85% off
99,Fastrack,UV Protection Butterfly Sunglasses (60),349,86% off

In [ ]:
#question  5

In [81]:
# getting the flipkart shopping site url on the web driver
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

In [82]:
url = driver.find_elements_by_xpath('//nav[@class="yFHi8N"]//a')

# extract all the  search links from the above search result
prod_urls=[]
for i in url[:11]:
    prod_urls.append(i.get_attribute('href'))

In [83]:
# extract all the ratings for the iPhone
phone_rating = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        for j in prod_rating:
            phone_rating.append(j.text)
    except:
        phone_rating.append("---")

# extract all the review summary for the iPhone
phone_summary = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_summaries = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        for j in prod_summaries:
            phone_summary.append(j.text)
    except:
        phone_summary.append("---")

# extract all the complete descriptive review for the iPhone
full_review = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_reviews = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        for j in prod_reviews:
            full_review.append(j.text.replace("\n"," "))
    except:
        full_review.append("---")
# checking the length to get the data frame
print("Lengths of columns:", len(phone_rating), len(phone_summary), len(full_review))

# creating the data frame now
df = pd.DataFrame({})
df['iPhone Rating']=phone_rating[:100]
df['iPhone Short Summary']=phone_summary[:100]
df['iPhone Full Review']=full_review[:100]
df

Lengths of columns: 104 110 110

,iPhone Rating,iPhone Short Summary,iPhone Full Review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Terrific,I got this beast today. And I must say the pic...
96,5,Highly recommended,"Amazing camera quality as expected, battery al..."
97,5,Must buy!,Dear friends... I want to share my experience ...
98,5,Must buy!,Camera is excellent just lack of telephoto mod...
99,5,Excellent,It was amazing experience for me. Honestly i a...

In [153]:

#QUESTION 6




# getting the flipkart shopping site url on the web driver
url = "https://www.flipkart.com/"
driver.get(url)





#close log_in window
#log_in_pop_up = driver.find_element_by_xpath('//body[@class="fk-modal-visible"]')
#log_in_pop_up.click()


# code to write sneakers in the search box
search_prod = driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_prod.send_keys("Sneakers")




# code to click on the search button
search_btn = driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

In [154]:
url = driver.find_elements_by_xpath('//nav[@class="yFHi8N"]//a')

# extract all the product search links from the above search result
prod_urls=[]
for i in url[:5]:
    prod_urls.append(i.get_attribute('href'))

In [155]:
# code to extract brand details
brand = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        for j in prod_brand:
            brand.append(j.text)
    except:
        brand.append("---")

# code to extract product description
descriptn = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_descriptn = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
        for j in prod_descriptn:
            descriptn.append(j.text)
    except:
        descriptn.append("---")

# code to extract price of the product
price = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for j in prod_price:
            price.append(j.text)
    except:
        price.append("---")

# code to extract the discount percentage
discount = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
        for j in prod_discount:
            discount.append(j.text)
    except:
        discount.append("---")

# checking the length to get the data frame
print("Lengths of columns:", len(brand), len(descriptn), len(price), len(discount))

# creating the data frame now
df = pd.DataFrame({})
df['Sneaker Brand']=brand[:100]
df['Sneaker Description']=descriptn[:100]
df['Sneaker Price']=price[:100]
df['Sneaker Discount']=discount[:100]
df

Lengths of columns: 200 156 200 197

,Sneaker Brand,Sneaker Description,Sneaker Price,Sneaker Discount
0,BIRDE,"Comfortable Stylish New Design Light Weight, B...",259,74% off
1,BIRDE,"Comfortable Stylish New Design Light Weight, B...",259,74% off
2,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,649,59% off
3,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,599,82% off
4,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,259,80% off
...,...,...,...,...
95,Trendmode,X-Ray 2 Square Sneakers For Men,199,55% off
96,Ktiz,Sneakers For Men,448,61% off
97,Airland,Sneakers For Men,190,54% off
98,PUMA,"Comfortable Stylish New Design Light Weight, B...","1,575",75% off
99,CLYMB,Casual Sneakers Sneakers For Men,249,57% off

In [198]:
# getting the myntra shoes site url on the web driver
url = "https://www.myntra.com/shoes"
driver.get(url)

In [199]:
# code to click on the color filter for "Black"
color_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [200]:
# code to click on the price filter.
price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [201]:
url = driver.find_elements_by_xpath('//li[@class="pagination-number"]//a')

# extract all the shoe links from the above search result
shoe_urls=[]
for i in url[:5]:
    shoe_urls.append(i.get_attribute('href'))

In [202]:
# code to extract shoe brand details
sbrand = []
for i in shoe_urls:
    driver.get(i)
    try:
        shoe_brand = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]//h3')
        for j in shoe_brand:
            sbrand.append(j.text)
    except:
        sbrand.append("---")

# code to extract shoe description
sdescriptn = []
for i in shoe_urls:
    driver.get(i)
    try:
        shoe_descriptn = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]//h4')
        for j in shoe_descriptn:
            sdescriptn.append(j.text)
    except:
        sdescriptn.append("---")
description=[]
for i in range(0, len(sdescriptn), 2):
     description.append(sdescriptn[i])

# code to extract shoe price
sprice = []
for i in shoe_urls:
    driver.get(i)
    try:
        shoe_price = driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
        for j in shoe_price:
            sprice.append(j.text)
    except:
        sprice.append("---")
        
# checking the length to get the data frame
print("Lengths of columns:", len(sbrand), len(description), len(sprice))

# creating the data frame now
df = pd.DataFrame({})
df['Shoe Brand']=sbrand[:100]
df['Shoe Description']=description[:100]
df['Shoe Price']=sprice[:100]
df

Lengths of columns: 250 250 141

        Shoe Brand                 Shoe Description Shoe Price
0             Puma                Men Running Shoes   Rs. 7149
1   Tommy Hilfiger                  Leather Sandals   Rs. 7999
2     Hush Puppies                                    Rs. 7199
3      RARE RABBIT           Men Leather Flat Boots   Rs. 8399
4          Bugatti          Men Black Walking Shoes   Rs. 8091
..             ...                              ...        ...
95    Hush Puppies       Men Solid Leather Slip-Ons   Rs. 9265
96            Geox        Men Leather Formal Derbys  Rs. 11815
97     RARE RABBIT     Men Textured Leather Loafers   Rs. 8925
98       J.FONTINI       Men Leather Formal Loafers  Rs. 11175
99       J.FONTINI  Men Solid Leather Formal Derbys  Rs. 12093

[100 rows x 3 columns]

In [132]:
# getting the amazon shopping site url on the web driver
url = "https://www.amazon.in/"
driver.get(url)

In [133]:
# code to write laptop in the search box
search_prod = driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]')
search_prod.send_keys("Laptop")

# code to click on the search button
search_btn = driver.find_element_by_xpath('//input[@id="nav-search-submit-button"]')
search_btn.click()

In [142]:
# code to click on the CPU filter for "Intel Core i7"
CPU1 = driver.find_element_by_xpath('//span[@class="a-size-base a-color-base a-text-bold" ]')
CPU1.click()

In [144]:
# code to click on the CPU filter for "Intel Core i9"
CPU2 = driver.find_element_by_xpath('//span [@class="a-size-base a-color-base a-text-bold" ]')
CPU2.click()

In [149]:
# code to extract laptop title
ltitle=[]
lappy_title = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in lappy_title[:10]:
    ltitle.append(i.text)

# code to extract laptop rating
lrating=[]
lappy_rating = driver.find_elements_by_class_name("a-icon-alt")
for i in lappy_rating[:10]:
    lrating.append(i.get_attribute('textContent'))

# code to extract laptop price
lprice=[]
lappy_price = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in lappy_price[:10]:
    lprice.append(i.text)
    
# checking the length to get the data frame
print("Lengths of columns:", len(ltitle), len(lrating), len(lprice))

# creating the data frame now
df = pd.DataFrame({})
df['Laptop Title']=ltitle[:8]
df['Laptop Rating']=lrating[:8]
df['Laptop Price']=lprice
df

Lengths of columns: 10 10 8

,Laptop Title,Laptop Rating,Laptop Price
0,AVITA PURA E14 NSA6ING541-SGC Thin and Light 1...,3.2 out of 5 stars,"26,490"
1,AVITA PURA E14 NS14A6ING431-IBB Thin and Light...,4.4 out of 5 stars,"22,209"
2,AVITA PURA E14 NS14A6ING541-IBB 14 inches Lapt...,1.0 out of 5 stars,"26,990"
3,AVITA PURA E14 NS14A6ING431-CRC Thin and Light...,3.4 out of 5 stars,"22,690"
4,AVITA PURA E14 NS14A6ING541 - PFA 14 inches La...,3.8 out of 5 stars,"26,990"
5,Acer One 14 cm 35.56 cm (14-inch) Laptop AMD A...,Previous page of related Sponsored Products,"22,590"
6,AVITA PURA E14 NS14A6ING541- BPA 14 inches Lap...,4.8 out of 5 stars,"22,990"
7,AVITA PURA E14 NS14A6ING431-BPA Thin and Light...,4.1 out of 5 stars,"22,690"